{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block localJS %}
    <script type="text/javascript">
        var inputValues = [];
        var textFields = $('form input[type=text]');
        $('#book_file')
            .on('change',
                function () {
                    textFields.each(function () {
                        inputValues = [];
                        if ($(this)
                            .val()) {
                            inputValues.push(1);
                        }
                        if ($('#book_file')
                            .val() && !inputValues.length) {
                            $(this)
                                .attr('required', false);
                        }
                    });

                });
        textFields.on('change',
                      function () {
                          inputValues = [];
                          textFields.each(function (i) {
                              if ($(this)
                                  .val()) {
                                  inputValues.push(1);
                              }
                              if (inputValues.length) {
                                  $(this)
                                      .attr('required', 'required');
                              }
                          });
                          textFields.each(function (i) {
                              if (inputValues.length) {
                                  $(this)
                                      .attr('required', 'required');
                              }
                          });
                      });

    </script>
{% endblock %}
