{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <div class="alert alert-danger container">

                <h1>Error {{ code }}</h1>
                {{ message }}


    </div>
{% endblock %}
